# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models & outputs
models/*
reports/figures/*

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
